@model List<StudentPortal.Models.Student>

<h2>Students List</h2>

<a href="/Student/Create">Add Student</a>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Details</th>
    </tr>

@foreach (var student in Model)
{
    <tr>
        <td>@student.Name</td>
        <td>@student.Age</td>
        <td>@student.Email</td>
        <td><a href="/Student/Details/@student.Id">View</a></td>
    </tr>
}
</table>
