@model List<StudentPortal.Models.Course>

<h2>Courses List</h2>

<a href="/Course/Create">Add New Course</a>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Credit Hours</th>
        <th>Actions</th>
    </tr>
@foreach (var course in Model)
{
    <tr>
        <td>@course.Id</td>
        <td>@course.Title</td>
        <td>@course.CreditHours</td>
        <td>
            <a href="/Course/Details/@course.Id">View</a>
        </td>
    </tr>
}
</table>
